* {
    font-family: "Poppins";
}

:root {
    --color-primary: #FFBF00;
    --color-light: #fff;
    --color-text-white: #fff;
    --color-text-grey: #979797;
    --color-text-dark: #000;
}

html {
    scroll-behavior:smooth;
  }

section {
    padding: 32px 64px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 64px;
}

#header h1 {
    margin: 0;
}

header nav a {
    padding: 0 8px;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
}

#landing div {
    width: 50%;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
}

#about div {
    width: 50%;
}

.about_stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 16px 32px;
    gap:50px;
    margin-top: 16px;
}

.about_bar {
    width: 250%;
    height: 10px;
    background-color: #FFBF00;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.8rem;
}

.services_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
}

.services_details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
    margin-top: 2.5rem;
}

section > div > div > img {
    border-radius: 15px;
}

.services_details_item img {
    width: 75%;
}

.services_details_item h2 {
    margin-top: 0.8rem;
}

.services_details_item p {
    font-size:16px;
}

h1 {
    font-weight: 700;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: var(--color-text-dark);
    font-size: 18px;
}

p {
    color: var(--color-text-grey);
    margin: 0 0 16px 0;
    font-size: 18px;
}

button {
    border: 0;
    border-radius: 15px;
}

.btn {
    background-color: var(--color-primary);
    color: var(--color-text-white);
    padding: 8px 24px;
    border-radius: 15px;
}

.btn:hover {
    background: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-text-dark) ;
    border-radius: 15px;
}

.btn_alt {
    background-color: var(--color-light);
    color: var(--color-text-dark);
    margin-right: 16px;
    border: 2px solid var(--color-primary);
    border-radius: 15px;
}