* {
    font-family: "Poppins";
}

.header__info {
    background-color: #000;
    color:#fff;
    text-align-last: left;
    padding-left: 2rem;
    white-space: nowrap;
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: #979797;
}

.btn {
    background-color: #000;
    color: white;
}

.btn-alt {
    background-color: white;
    color: black;
}